.venv/
venv/
__pycache__/
build/
dist/
test.syn
test.py
syntactical.exe
main.spec
build.bat

# this is for testing the dotenv lib in syntactical
.env

# yes, i have a git repo inside a git repo
syntactical.wiki/

# i will in fact be storing tokens in this file!
tokens.txt 